<form >
    <div class="container my-4">
        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <label for="" class="form-label">Product Name </label>
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>  
          <div class="col-md-4">
            <div class="mb-3">
              <label for="" class="form-label">Product Number</label>
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>  
        </div>

        <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="" class="form-label">Product Price </label>
                <input type="text" class="form-control" name="" id="">
              </div>
            </div>  
            <div class="col-md-4">
              <div class="mb-3">
                <label for="" class="form-label">Product Material</label>
                <input type="text" class="form-control" name="" id="">
              </div>
            </div>  
          </div>

          <div class="row">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Description</label>
              </div>
          </div>

          <div class="row ">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="" class="form-label">Logo Material</label>
                <input type="text" class="form-control" name="" id="">
              </div>
            </div>  
            
            <div class="col-md-4 my-4">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select size</option>
                    <option value="1">Small</option>
                    <option value="2">Medium</option>
                    <option value="3">Large</option>
                    <option value="3">Xlarge</option>
                  </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="" class="form-label">Color</label>
                <input type="text" class="form-control" name="" id="">
              </div>
            </div>  
            <div class="col-md-4 my-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown button
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
                      <li><a class="dropdown-item" >Male</a></li>
                      <li><a class="dropdown-item" >Female</a></li>
                    </ul>
                  </div>
            </div>  
          </div>
          
          <button class="btn btn-outline-primary w-100">Submit</button>
    </div>
</form>